[Unit]
Description=Dumb http server
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/share/ping-pong
ExecStart=/usr/bin/ping-pong index.html 8888

[Install]
WantedBy=multi-user.target

